---

---

<div class="form-wrapper">
    <form class="hero-form" action="">
        <p class="subtitle">Have an emergency or weather damage?</p>
        <p class="title">Get a Free Estimate</p>

        <div class="fields-wrapper">
            <div class="input-group name">
                <label for="name">Full Name</label>
                <input type="text" name="name" id="name" placeholder="Full Name">
            </div>

            <div class="input-group email">
                <label for="email">Email Address</label>
                <input type="email" name="email" id="email" placeholder="Email Address">
            </div>

            <div class="input-group phone">
                <label for="phone">Phone Number</label>
                <input type="tel" name="phone" id="phone" placeholder="Phone Number">
            </div>

            <div class="input-group address">
                <label for="address">Full Address</label>
                <input type="text" name="address" id="address" placeholder="Full Address">
            </div>

            <div class="input-group">
                <input type="submit" value="Submit">
            </div>

            <!-- <div class="input-group">
                <input type="submit" value="Submit" class="btn">
            </div> -->
        </div>
    </form>
</div>


<style>
    .hero-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-form .subtitle,
    .hero-form .title {
        color: var(--blue);
        line-height: 1;
    }

    .hero-form .title {
        font-size: 1.375rem;
        font-weight: 700;
        margin-top: .3rem;
    }

    .hero-form .fields-wrapper {
        margin-top: 1.8rem;
    }

    .hero-form .fields-wrapper .input-group {
        background-repeat: no-repeat;
        background-position: 5.3rem 2.6rem;
    }

    .hero-form .fields-wrapper .input-group label {
        display: none;
    }

    .hero-form .fields-wrapper .input-group input,
    .hero-form .fields-wrapper .input-group textarea {
        appearance: none;
        -webkit-appearance: none;
    }

    .hero-form .fields-wrapper .input-group input:not([type="submit"]) {
        background-color: transparent;
        border: 1px solid #CACDCD;
        color: var(--blue);
        padding: .5rem .5rem .5rem 7rem;
        margin-top: 2rem;
        max-width: 100%;
        width: 320px;
    }

    .hero-form .fields-wrapper .input-group input:first-child {
        margin-top: -2rem;
    }

    .hero-form .fields-wrapper .input-group input[type="submit"] {
        background: var(--blue);
        border: 0;
        border-radius: 10px;
        color: var(--white);
        font-weight: 700;
        padding: 10px 30px;
        margin-top: 2rem;
        max-width: 100%;
        width: 320px;
    }

    .hero-form .fields-wrapper .input-group input[type="submit"]:hover {
        cursor: pointer;
    }

    .hero-form .fields-wrapper .input-group input::placeholder {
        color: var(--blue);
    }

    .hero-form .fields-wrapper .input-group.name {
        background-image: url('../images/user-icon.svg');
    }

    .hero-form .fields-wrapper .input-group.email     {
        background-image: url('../images/mail-icon.svg');
    }

    .hero-form .fields-wrapper .input-group.phone {
        background-image: url('../images/phone-icon.svg');
    }

    .hero-form .fields-wrapper .input-group.address {
        background-image: url('../images/address-icon.svg');
    }


</style>