---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--blue: #1965BE;
		--gray: #676565;
		--white: #FFF;
	}

	html {
		box-sizing: border-box;
		font-family: system-ui, sans-serif;
		font-size: 1rem;
		font-family: "Georama", sans-serif;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body, h1, h2, h3, h4, h5, h6, p, ol, ul {
		margin: 0;
		padding: 0;
		font-weight: normal;
		font-size: 1rem;
	}

	h1,
	h2 {
		font-size: 40px;
		font-weight: 700;
		line-height: 1.2;
	}

	h1 {
		color: var(--blue);
	}

	h2 {
		color: var(--blue);
	}

	h2.row-title {
		margin-top: .8rem;
		margin-bottom: 1.1rem;
		text-align: center;
	}

	ol, ul {
		list-style: none;
	}

	li {
		font-size: 1rem;
	}

	img {
		width: 100%;
		max-width: 600px;
		height: auto;
	}

	a {
		text-decoration: none;
	}

	p {
		color: var(--gray);
	}

	p.row-subtitle {
		color: var(--blue);
		font-weight: 700;
		text-align: center;
	}

	p.row-desc {
		text-align: center;
	}

	.row.titles-wrapper {
		display: flex;
		flex-direction: column;
		margin-bottom: 3.125rem;
	}

	.btn {
		border-radius: 10px;
		background-color: #1965BE;
		color: var(--white);
		font-size: 1rem;
		font-weight: 700;	
		padding: .625rem 1.875rem;
		max-width: 145px;
		width: 100%;
	}

	.container {
		margin: auto;
		padding: 1rem;
		width: 100%;
		max-width: 1140px;
		padding: 0 2rem;
		font-size: 20px;
		line-height: 1.6;
	}

	/**
	 * Helpers
	 */
	.text-white {
		color: var(--white);
	}

	.text-left {
		text-align: left;
	}

	.text-center {
		text-align: center;
	}

	.py-5 {
		padding-top: 3.75rem;
		padding-bottom: 3.75rem;
	}
</style>
